@font-face {
  font-family: "Montserrat";
  src: url("../media/fonts/Montserrat/Montserrat-Light.ttf"),
    url("../media/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../media/fonts/Montserrat/Montserrat-SemiBold.ttf"),
    url("../media/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252525;
  font-size: 20px;
  font-family: "Montserrat";
}

._container {
  min-width: 200px;
  max-width: 1240px;
  margin: 0 auto;
}

header {
  margin-top: 30px;
}

header .site-logo img {
  width: 15%;
  display: block;
  margin: 0 auto;
}

header nav {
  margin-top: 30px;
}

header nav ul {
  text-align: center;
  justify-content: center;
  display: flex;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding-left: 30px;
  font-size: 15px;
}

header nav ul li .active {
  color: rgb(196, 196, 23);
}

.main-section {
  background-image: url(../media/images/197152c818f021a2f4db244ec5328487.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
  top: -150px;
  height: 120vh;
  background-attachment: fixed;
}

.main-section .main-section-info {
  padding: 250px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.main-section .main-section-info h1 {
  font-size: 72px;
}

.main-section .main-section-info h2 {
  font-size: 25px;
  padding: 10px 0px;
}

.main-section .second-section-img .first-col img {
  position: relative;
  top: -370px;
  width: 60%;
  z-index: 1;
}

.main-section .second-section-img .second-col {
  display: flex;
  position: relative;
  top: -610px;
  z-index: 1;
}

.main-section .second-section-img .second-col .first-img {
  width: 50%;
  height: 100%;
}

.main-section .second-section-img .second-col .second-img {
  width: 50%;
}

/* info section */

.info-section {
  position: relative;
  margin-top: -350px;
}

.cta-background {
  background-size: cover;
  background-position: center center;
  bottom: 0;
  filter: blur(50px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.containeer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.cta {
  border-radius: 30px 30px 0px 0px;
  background: #333;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 300px;
  margin-left: 30px;

  &:hover {
    img {
      top: -30%;
      filter: brightness(70%);
    }

    .text {
      bottom: 0;
    }
  }

  img {
    bottom: 0;
    filter: brightness(100%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 100%;
    height: 70%;
  }

  .text {
    border-radius: 40px 0px 0px 0px;
    bottom: -40%;
    background-color: #f2cc6c;
    padding: 15px;
    position: absolute;
    transition: 0.5s ease-in-out;

    h2 {
      color: #fff;
      display: inline-block;
      font-weight: 300;
      margin-bottom: 5px;
      position: relative;
    }

    p {
      color: #fff;
      font-weight: 300;
    }
  }
}
